Geachte heer, mevrouw,

Betreft: aangifte van internetoplichting $orderNumber

De politie heeft op $orderDate een aangifte van mogelijke internetoplichting
ontvangen, waarbij uw e-mailadres wordt genoemd. Wij sturen u hierbij een
automatisch gegenereerde e-mail waarin u hiervan op de hoogte wordt gesteld.
Het e-mailadres van de aangever is: $emailDeclarant.

Deze aangifte kan voor het Meldpunt Internetoplichting aanleiding zijn om een
strafrechtelijk onderzoek te starten, zeker wanneer wij meerdere aangiftes ontvangen.

Het is echter ook mogelijk dat de aangever het gevoel heeft opgelicht te zijn,
terwijl dit in strafrechtelijke zin niet het geval is. U krijgt hierbij de gelegenheid een
eventueel (civiel) conflict op te lossen door contact op te nemen met de aangever.
Als het conflict wordt opgelost, kan de aangever de aangifte op de site van www.mijnpolitie.nl
intrekken door in te loggen met Digi-D. Mocht de aangever niet in staat zijn deze in te trekken
dan kan deze een e-mail sturen naar meldpuntinternetfraude@kennemerland.politie.nl,
wij zullen de aangifte dan namens de aangever intrekken.

Mvg,

Het Landelijk Meldpunt Internetoplichting van de politie
